@import '../_custom';
@import '../_mixins';

.contact{
    @include gradient;
    padding-bottom: 4em;
    text-align: center;
    
    a:visited, a{
        text-decoration: none;
        color: $secondary;
    }
}